html
    head
        title Search
        link(rel="stylesheet", href="../static/index.css")
    body
        .txt
            strong Devil Straight From Hell..!
        .container 
            .picture
                img(src="../static/devil0.jpg")
            form(action="/" method='POST')
                input#term(type="text", name="term") 